<IfModule mod_mime.c>
   Options +FollowSymLinks
   RewriteEngine on
   RewriteCond %{HTTP:Accept-encoding} gzip
   RewriteCond %{REQUEST_FILENAME}gz -f
   RewriteRule ^(.*)\.unityweb$ $1\.unityweb [L]
   AddEncoding gzip .unityweb
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>