<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_mime.c>
  AddEncoding gzip .unityweb
</IfModule>

<IfModule mod_mime.c>
  AddEncoding br .unityweb
</IfModule>